# IDE (IntelliJ IDEA) files
.idea/
*.iml
*.iws
*.ipr

# Gradle files
.gradle/
build/
buildSrc/

# JUnit test reports
build/test-results/

# Compiled class files
out/

# Log files
*.log

# OS-specific files
.DS_Store

# Gradle Wrapper
gradle-wrapper.jar
gradle-wrapper.properties

# Maven
target/
